<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="connection.driver_class">org.hsqldb.jdbcDriver</property> 
			<property name="connection.url">jdbc:hsqldb:file:/tmp/testDB;shutdown=true</property> 
			<property name="connection.username">sa</property> <property name="connection.password"></property> 
			<property name="dialect">org.hibernate.dialect.HSQLDialect</property> -->


		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="connection.password"></property>
		<property name="hibernate.default_schema">public</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.url">jdbc:postgresql://localhost/postgres</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">100</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping resource="org/zhibernate/domain/Event.hbm.xml" />
		<mapping resource="org/zhibernate/domain/Person.hbm.xml" />
		<mapping resource="org/zhibernate/domain/samples/ComponentSample.hbm.xml" />
		<mapping resource="org/zhibernate/domain/samples/Product.hbm.xml" />
		<mapping resource="org/zhibernate/domain/samples/Part.hbm.xml" />
		<mapping resource="org/zhibernate/domain/samples/GeneratorExample.hbm.xml" />
		<mapping resource="org/zhibernate/domain/samples/CompositeIdExample.hbm.xml" />
		<mapping resource="org/zhibernate/domain/samples/inheritance/Shape.hbm.xml" />
		<mapping
			resource="org/zhibernate/domain/samples/relationships/Publisher.hbm.xml" />
		<mapping resource="org/zhibernate/domain/samples/relationships/Book.hbm.xml" />


		<event type="load">
			<listener class="org.zhibernate.domain.samples.events.CustomLoadListener" />
			<listener class="org.hibernate.event.def.DefaultLoadEventListener" />
		</event>

	</session-factory>
</hibernate-configuration>
